// back-ground
.proj-bg-primary {
  background-color: #1C8B6A;
}
.proj-bg-black {
  background-color: #434343;
}
.proj-bg-Gradient {
  background: linear-gradient(180deg, #35A483 0%, #077854 100%);
}
.proj-bg-blue {
  background-color: #0014C7;
}
.proj-bg-red {
  background-color: #CA0000;
}
// color
.proj-text-primary {
  color: #1C8B6A;
}
.proj-text-Gradient {
  background: linear-gradient(180deg, #35A483 0%, #077854 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.proj-text-black {
  color: #434343;
}
.proj-text-gray {
  color: #B7B7B7;
}
// border
.proj-border-primary {
  border-color: #1C8B6A;
}
.proj-border-black {
  border-color: #434343;
}

.single-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.btn-confirm {
  background: #1C8B6A !important;
  border-radius: 16px !important;
  width: 136px;
  height: 56px;
}
.btn-cancel {
  background: #ffffff !important;
  color: #1C8B6A !important;
  border-radius: 16px !important;
  width: 136px;
  height: 56px;
  border: 1px solid #1C8B6A !important;
}
.customClass-title {
  font-size: 18px !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.customClass-popup {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
  border-radius: 1.5rem !important;
  width: 343px !important;
  background: #F0F0F0 !important;
}
.customClass-input{
  background: white !important;
  border-radius: 16px !important;
  outline: none !important;
  &:focus {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
  }
}